<br />
<blockquote>
  <p>Whenever I am not working on personal or school development project, a lot of my time is used for music. I have been playing the guitar for over 15 years, and also started bass and drums, which has led me to be in several bands over the years.</p>
  <p class="mb-0">During winter, i'm an avid skiier, while in the summer I will take on any occasion to windsurf.</p>
  <p class="mb-0">I also like to try my chance at learning new languages whenever I can.</p>
</blockquote>
<br />
<blockquote>
  <p>I enjoy working on personal development projects too in my free time.<br/>You can check them out on my <a href="https://github.com/stormyGit">GitHub</a> page</p>
</blockquote>
