<br />
<h3>
  Programming Languages & Tools<br />
</h3>
<h1 class="center-align">
  <i data-toggle="tooltip" title="Ruby" class="devicon-ruby-plain"></i>
  <i data-toggle="tooltip" title="Rails" class="devicon-rails-plain"></i>
  <i data-toggle="tooltip" title="Postgresql" class="devicon-postgresql-plain"></i>
  <i data-toggle="tooltip" title="JavaScript" class="devicon-javascript-plain"></i>
  <i data-toggle="tooltip" title="CSS" class="devicon-css3-plain"></i>
  <i data-toggle="tooltip" title="jQuery" class="devicon-jquery-plain"></i>
  <i data-toggle="tooltip" title="C" class="devicon-c-plain"></i>
  <i data-toggle="tooltip" title="C++" class="devicon-cplusplus-plain"></i>
  <i data-toggle="tooltip" title="C#" class="devicon-csharp-plain"></i>
  <i data-toggle="tooltip" title="Java" class="devicon-java-plain"></i>
  <i data-toggle="tooltip" title="Bootstrap" class="devicon-bootstrap-plain"></i>
  <i data-toggle="tooltip" title="Git" class="devicon-git-plain"></i>
  <i data-toggle="tooltip" title="Linux" class="devicon-linux-plain"></i>
  <i data-toggle="tooltip" title="Windows" class="devicon-windows8-plain"></i>
  <i data-toggle="tooltip" title="Android" class="devicon-android-plain"></i>
</h1>
<br />
<br />
<h3>
  Spoken Languages<br />
</h3>
<h5>
  <i class="fas fa-caret-right"></i>&nbsp;
      French - Native language (C2)<br />
  <i class="fas fa-caret-right"></i>&nbsp;
      Spanish - Native language (C2)<br />
  <i class="fas fa-caret-right"></i>&nbsp;
      English - Bilingual (C2)<br />
  <i class="fas fa-caret-right"></i>&nbsp;
      Portuguese - Elementary (A1)<br />
  <i class="fas fa-caret-right"></i>&nbsp;
      German - Elementary (A1)<br />
</h5>
